.bi-arrow-return-right {
    color: #8b6576;
}


.aside {
    display: flex;
    gap: 2rem;
    padding: 1rem;

    aside {
        width: 450px;
        background-color: $quinto-color;
        padding: 1rem;
        border-radius: 8px;

        div {
            ol {
                li {
                    list-style: none;
                    font-size: 20px;
                    padding: 10px;
                    font-weight: bold;

                    a {
                        text-decoration: none;
                        color: $cuarto-color;
                    }
                }
            }

            h2 {
                text-align: center;
                font-size: 30px;
                font-weight: bold;

                button {
                    color: #131313 !important;
                    background-color: white !important;

                    &:focus {
                        border-color: $sexto-color;
                        box-shadow: 0 0 0 0.25rem $sexto-color;
                    }

                    &:hover {
                        border-color: $sexto-color;
                        box-shadow: 0 0 0 0.25rem $sexto-color;
                    }

                    &:not(.collapsed) {
                        border-color: inherit;
                        box-shadow: none;
                        background-color: inherit;
                    }
                }
            }
        }
    }
}



