footer {
    background-color: #131313;

    h2 {
        color:$segundo-color;
        border-bottom: 1px solid $segundo-color;
        font-size: nth($font-size, 5 );
        text-align: center;
    }

    .redes {
        display: flex;

        .logo-footer {
            img {
                width: 80px;
                height: 80px;
                border-radius: 30%;

            }
        }

        div {
            color: white;
            width: 275px;
            height: 200px;
            margin: 10px;
            padding: 10px;
            line-height: 30px;
        }

        .caja-footer {
            padding: 20px;

            img {
                margin-bottom: 5px;
            }

            h3 {
                font-size: nth($font-size, 3);

            }

            p {
                font-size: nth($font-size , 2 );

            }
        }
    }
}