nav {
    background-color: #131313 !important;

    .nav-item {
        font-size: nth($font-size, 3);
        margin: 15px;

        .nav-link {
            color: $segundo-color !important;

            &:hover {
                color: white !important;
            }
        }
    }

    form {
        .d-flex {
            align-items: center;
        }
    }
}

.bi-bag-heart-fill {
    margin: 10px;
    font-size: nth($font-size, 5);
    color: $segundo-color !important;
}
.boton {
    border-color: hsl(333, 17%, 50%);
    color: hsl(333, 17%, 50%);
}