.hero {
    div {
        .carousel-caption {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            h1 {
                font-size: nth($font-size, 6);
                background-color: $sexto-color;
                border-radius: 20px;
                padding: 5px;
                width: 60%;
                transition-duration: 2s;
                transition-property: width;

                &:hover {
                    width: 100%;
                }
            }

            p {
                font-size: nth($font-size, 4);
                background-color: $sexto-color;
                border-radius: 20px;
                padding: 5px;
                width: 90%;
                max-height: 100px;
                text-align: center;
                margin-bottom: 10px;
                transition-duration: 2s;
                transition-property: width;

                &:hover {
                    width: 100%;
                }
            }
        }
    }
}

.productos-destacados {
    .tarjetas-inicio {
        margin: 15px;
        padding: 15px;
        @include flex(flex, space-around);
        flex-wrap: wrap;

        div {
            text-align: center;
            margin: 15px;
            padding: 15px;
            background-color: $quinto-color;
            height: 100%;
            border-radius: 12px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            }

            img {
                width: 250px;
                height: 250px;
            }

            h3 {
                color: $cuarto-color;
                text-align: center;
                font-size: nth($font-size, 3);
                margin-bottom: 10px;
                margin-top: 10px;
                padding: 5px;
            }

            a {
                transition: 1s;
                @extend %boton;

                &:hover {
                    font-size: nth($font-size, 4);
                }
            }

        }
    }

    h2 {
        text-align: center;
        background-color: $sexto-color;
        color: $cuarto-color;
        font-size: nth($font-size, 5);
        animation: slideInRight 1s ease-out forwards;
    }


}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}




.nosotros-titulo {
    h2 {
        background-color: $sexto-color;
        text-align: center;
        color: $cuarto-color;
        font-size: nth($font-size, 5);
        animation: slideinleft 2s ease-out forwards;
    }


    .nosotros {
        @include flex(flex, space-evenly);
        align-items: center;
        margin: 10px;
        padding: 10px;

        img {
            width: 550px;
            height: 550px;
            border-radius: 20px;
        }

        p {
            font-size: nth($font-size, 4);
            background-color: $sexto-color;
            color: $cuarto-color;
            border-radius: 12px;
            width: 50%;
            height: 50%;
            margin: 15px;
            padding: 30px;
            text-align: center;
        }
    }
}

@keyframes slideinleft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}



.testimonios {
    h2 {
        text-align: center;
        background-color: $quinto-color;
        color: $cuarto-color;
        font-size: nth($font-size, 5);
    }

    .grid-testimonios {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 200px;
        gap: 20px;
        background-color: $quinto-color;
        color: $cuarto-color;
        padding: 20px;

        .testimonio {
            background-color: white;
            color: $cuarto-color;
            font-style: italic;
            margin: 20px;
            text-align: center;
            padding: 30px;
            border-radius: 12px;
            box-shadow: 2px 2px rgba(0, 0, 0, 0.171);
            font-size: nth($font-size, 3);
            z-index: 1;
            position: relative;
            opacity: 0;
            transform: translateY(20px);
            animation: fadeInUp 0.6s ease forwards;

            &:nth-child(1) {
                animation-delay: 0.3s;
            }

            &:nth-child(2) {
                animation-delay: 0.6s;
            }

            &:nth-child(3) {
                animation-delay: 0.9s;
            }

            p {
                font-size: nth($font-size, 3);
            }

            h3 {
                font-size: nth($font-size, 2);
            }

            &::before {
                content: "“";
                position: absolute;
                top: -20px;
                left: 10px;
                font-size: 100px;
                color: rgba(155, 155, 155, 0.486);
                z-index: 0;
                pointer-events: none;
            }
        }
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* .fixed {
    position: fixed;
    z-index: 999;
    bottom: 20px;
    right: 20px;
    transition: 0.6s;
    max-width: 60px;
    width: 15vw;
    height: auto;

    &:hover {
        transform: scale(1.3);
    }
} */

.carousel-item {
    text-align: center;
    background-color: $tercer-color;

    img {
        max-width: 100%;
        height: auto;
    }

    a {
        text-decoration: none;

        h2 {
            font-size: nth($font-size, 3) !important;
            color: $cuarto-color;
        }
    }
}