/**--- PRODUCTOS ---*/

.tarjetas-secciones {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-wrap: wrap;

    h2 {
        text-align: center;
        background-color: $sexto-color;
        color: $cuarto-color;
        font-size: 30px;
    }

    .tarjetas {
        flex: 1;
        display: flex;
        justify-content: space-around;
        margin: 15px;
        padding: 15px;

        div {
            text-align: center;
            background-color: $quinto-color;
            margin: 15px;
            padding: 15px;
            height: 375px;

            img {
                width: 250px;
                height: 250px;
            }

            h3 {
                color: $cuarto-color;
                text-align: center;
                font-size: 20px;
                margin-bottom: 10px;
                margin-top: 10px;
                padding: 5px;
            }

            a {
                @extend %boton;

                &:hover {
                    font-size: 25px;
                }
            }
        }
    }
}

/*!--- PERSONALIZADOS-REGISTRATE-SERVICIOS---*/

.productos {
    h1 {
        text-align: center;
        background-color: $sexto-color;
        color: $cuarto-color;

    }

    h2 {
        text-align: center;
        background-color: $sexto-color;
        color: $cuarto-color;
        font-size: 30px;
    }

    p {
        font-size: 25px;
        margin: 20px;
        text-align: center;
        color: $cuarto-color;
        padding: 20px;
        background-color: $quinto-color;
    }
}

/*---REGISTRATE---*/

.formulario {
    display: flex;
    justify-content: center;
    margin: 20px;
    background-image: url(/img/fondo2.png);

    form {
        margin: 30px;
        background-color: $quinto-color;
        padding: 30px;

        div {
            label {
                font-size: 22px;
            }

            input {
                width: 500px;
                height: 40px;
            }

            .check {
                width: 20px;
                height: 23px;
            }
        }

        .form-check {
            padding-left: 23px;

            .form-check-input {
                margin-left: 2px;
                margin-right: 5px;
                margin-top: 2px;
            }
        }

    }


}

/*---PERSONALIZADOS-SERVICIOS---*/


.formulario-personalizados {
    display: flex;
    justify-content: center;
    background-image: url(/img/fondo2.png);
    background-repeat: no-repeat;

    form {
        flex-direction: column;
        margin: 20px;
        font-size: 18px;
        color: #131313;
        background-color: $quinto-color;
        padding: 20px;f

        div {
            padding: 5px;

            label {
                width: 500px;
            }

            input {
                width: 500px;
                height: 40px;
            }

            .provincia {
                width: 500px;
            }

            textarea {
                width: 500px;
            }

            .check {
                width: 20px;
                height: 23px;
            }

        }
    }
}