//*VARIABLES
$primer-color: rgba(139, 101, 118, 0.5333333333);
$segundo-color: hsl(333, 17%, 50%);
$tercer-color: #c594aa;
$cuarto-color: #131313;
$quinto-color: #f1f1f1;
$sexto-color: #c594aa77;

//*LISTAS
$font-size:
10px
15px
20px
25px
30px
35px
;

//*EXTENDS
%boton {
    text-decoration: none;
    color: white;
    background-color: $tercer-color;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 13px;
}

//*MIXIN
@mixin flex($flex, $justify){
    display: $flex;
    justify-content: $justify;
}

