@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/*     outline: 1px solid red; // solo para debug visual */
}

body {
    font-family: "Caudex", serif;
    font-weight: 200;
}

p::selection {
    background-color: #f1f1f1;
    color: #8b6576;
}

h1::selection {
    background-color: #f1f1f1;
    color: #8b6576;
}

h2::selection {
    background-color: #f1f1f1;
    color: #8b6576;

}

h3::selection {
    background-color: #f1f1f1;
    color: #8b6576;

}